@import "../css/variables.module.scss";

.excalidraw {
  --avatar-size: 1.75rem;
  --avatarList-gap: 0.625rem;
  --userList-padding: var(--space-factor);

  .UserList__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none !important;
  }

  .UserList {
    pointer-events: none;
    /*github corner*/
    padding: var(--space-factor) var(--space-factor) var(--space-factor)
      var(--space-factor);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;

    box-sizing: border-box;

    // can fit max 4 avatars (3 avatars + show more) in a column
    max-height: 120px;

    // can fit max 4 avatars (3 avatars + show more) when there's enough space
    max-width: 120px;

    // Tweak in 30px increments to fit more/fewer avatars in a row/column ^^

    overflow: hidden;
  }

  .UserList > * {
    pointer-events: var(--ui-pointerEvents);
  }

  .UserList_mobile {
    padding: 0;
    justify-content: normal;
    margin: 0.5rem 0;
    max-width: none;
    max-height: none;
  }

  .UserList__more {
    @include avatarStyles;
    background-color: var(--color-gray-20);
    border: 0 !important;
    font-size: 0.5rem;
    font-weight: 400;
    flex-shrink: 0;
    color: var(--color-gray-100);
  }

  .UserList__collaborator-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .UserList__collaborator-follow-status-icon {
    margin-left: auto;
    flex: 0 0 auto;
    width: 1rem;
    display: flex;
  }

  --userlist-hint-bg-color: var(--color-gray-10);
  --userlist-hint-heading-color: var(--color-gray-80);
  --userlist-hint-text-color: var(--color-gray-60);
  --userlist-collaborators-border-color: var(--color-gray-20);

  &.theme--dark {
    --userlist-hint-bg-color: var(--color-gray-90);
    --userlist-hint-heading-color: var(--color-gray-30);
    --userlist-hint-text-color: var(--color-gray-40);
    --userlist-collaborators-border-color: var(--color-gray-80);
  }

  .UserList__collaborators {
    top: auto;
    max-height: 50vh;
  }
}
